.feedback_item{
    width: 25%;
    background-color: white;
    box-shadow: $shadow ;
    text-align: left;
    .feedback_item_info{
        font-size: $text;
        line-height: 1.5;
        border-left: 5px solid gray;
        padding-left: 5%;
        margin: auto;
        width: 70%;
    }

}

